{% extends 'base.html' %}
{% block title %}Email Sent{% endblock %}

{% block main-content %}

    <section id="login" class="bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <h4>
                                <i class="fas fa-sign-in-alt"></i> Sent Recovery Email</h4>
                        </div>
                        <div class="card-body">

                            <div class="login-form">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Email Has Been Sent</h1>
                                    <p class="p text-gray-900 mb-4">If you can't find in Inbox. Kindly Check Spam</p>
                                </div>

                                <div class="text-center">
                                    <a target="_blank" href="https://mail.google.com/"
                                       class="btn btn-primary pull-center">Open Gmail</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}