{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Password Reset Confirm{% endblock %}

{% block main-content %}
    <section id="login" class="bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <h4>
                                <i class="fas fa-sign-in-alt"></i> New password</h4>
                        </div>
                        <div class="card-body">

                            <form action="" method="post">
                                {% csrf_token %}

                                {{ form|crispy }}


                                <input type="submit" value="Reqeust for a new password" class="btn btn-secondary btn-block">
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}