{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/css/all.css' %}">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
  <!-- Custom -->
  <link rel="stylesheet" href="{% static '/css/style.css' %}">

    <!--  lightbox css  -->
    <link rel="stylesheet" href="{% static '/css/lightbox.min.css' %}">

</head>
<body>

  <!-- Top Bar -->
  <section id="top-bar" class="p-3">
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <i class="fas fa-phone"></i> (+880)-177574870
              </div>
              <div class="col-md-4">
                  <i class="fas fa-envelope-open"></i> developer.abdullahmia@gmail.com
              </div>
              <div class="col-md-4">
                  <div class="social text-right">
                      <a href="#">
                          <i class="fab fa-twitter"></i>
                      </a>
                      <a href="https://www.facebook.com/darknoob1971/" target="_blank">
                          <i class="fab fa-facebook"></i>
                      </a>
                      <a href="">
                          <i class="fab fa-linkedin"></i>
                      </a>
                      <a href="https://www.instagram.com/abirislam1971/" target="_blank">
                          <i class="fab fa-instagram"></i>
                      </a>
                      <a href="#">
                          <i class="fab fa-pinterest"></i>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </section>



  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
      <div class="container">
          <a class="navbar-brand" href="{% url 'index' %}">
              <img src="{% static '/img/logo.png' %}" class="logo" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <ul class="navbar-nav">
                  <li
                  {% if '/' == request.path %}
                    class="nav-item active mr-3"
                  {% else %}
                    class="nav-item mr-3"
                  {% endif %}
                  >
                      <a class="nav-link" href="{% url 'index' %}">Home</a>
                  </li>
                  <li
                  {% if 'about/' in request.path %}
                    class="nav-item active mr-3"
                  {% else %}
                    class="nav-item mr-3"
                  {% endif %}
                  >
                      <a class="nav-link" href="{% url 'about' %}">About</a>
                  </li>
                  <li
                  {% if 'listing/' in request.path %}
                    class="nav-item active mr-3"
                  {% else %}
                    class="nav-item mr-3"
                  {% endif %}
                  >
                      <a class="nav-link" href="{% url 'listings' %}">Featured Listings</a>
                  </li>
              </ul>

              <ul class="navbar-nav ml-auto">

                  {% if request.user.is_authenticated %}
                      <li
                              {% if 'dashboard' in request.path %}
                                  class="nav-item active mr-3"
                              {% else %}
                                  class="nav-item mr-3"
                              {% endif %}
                      >
                      <a class="nav-link" href="{% url 'dashboard' %}">
                          <i class="fas fa-user-edit"></i> Dashboard</a>
                      </li>

                      <li
                              {% if 'logout' in request.path %}
                                  class="nav-item active mr-3"
                              {% else %}
                                  class="nav-item mr-3"
                              {% endif %}
                      >
                      <a class="nav-link" href="{% url 'logout' %}">
                          <i class="fas fa-sign-out-alt"></i> Logout</a>
                      </li>

                      <li
                              {% if 'user-password-change' in request.path %}
                                  class="nav-item active mr-3"
                              {% else %}
                                  class="nav-item mr-3"
                              {% endif %}
                      >
                      <a class="nav-link" href="{% url 'user_password_change' %}">
                          <i class="fas fa-sign-out-alt"></i> Password Change</a>
                      </li>


                  {% else %}

                      <li
                              {% if 'signup' in request.path %}
                                  class="nav-item active mr-3"
                              {% else %}
                                  class="nav-item mr-3"
                              {% endif %}
                      >
                      <a class="nav-link" href="{% url 'signup' %}">
                          <i class="fas fa-user-plus"></i> Register</a>
                      </li>
                      <li
                              {% if 'login' in request.path %}
                                  class="nav-item active mr-3"
                              {% else %}
                                  class="nav-item mr-3"
                              {% endif %}

                      >
                          <a class="nav-link" href="{% url 'login' %}">
                              <i class="fas fa-sign-in-alt"></i>

                              Login</a>
                      </li>

                  {% endif %}


              </ul>
          </div>
      </div>
  </nav>






  {% block main-content %}

{% endblock %}



  <!-- Footer -->
  <footer id="main-footer" class="py-4 bg-primary text-white text-center">
    Copyright &copy;
    <span class="year"></span> BT Real Estate
  </footer>



  <script src="{% static '/js/jquery-3.3.1.min.js' %} "></script>
  <script src="{% static '/js/bootstrap.bundle.min.js' %} "></script>
  <script src="{% static '/js/main.js' %}"></script>
  <script src="{% static '/js/lightbox.min.js' %}"></script>

</body>
</html>